<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?v=1.2">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Flutter Conferences</title>
</head>

<body>
    <div class="banner-bg">
        <div class="banner-title">
            <h1>Flutter Conferences!</h1>
            <h3>All flutter conferences in one place!</h3>
        </div>

    </div>
    <ul class="video-section">
        {{#titles}}


        <li class="video-align">
            <iframe width="600" height="400" src={{link}}?rel=0&modestbranding=1&autohide=1&showinfo=0 frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </li>
        {{/titles}}
    </ul>
    </div>
</body>

</html>